.video {
  max-width: 1120px;
  margin: 0 auto;
  padding: 59px 10px 0px 10px;
}

.video::before {
  content: '';
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 66px;
  height: 111px;
  background: url("../img/icons/heart-3.png");
}

.video h1 {
  padding: 0px 226px;
  position: relative;
  margin: 0;
  font-family: 'MazzardL', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 80px;
  text-align: center;
  color: #272E35;
}

.video p {
  position: relative;
  text-align: center;
  font-family: 'MazzardL', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #272E35;
}

.video__img-wrapper {
  position: relative;
  -webkit-box-shadow: 0px -2px 18px 10px rgba(141, 149, 155, 0.6);
          box-shadow: 0px -2px 18px 10px rgba(141, 149, 155, 0.6);
  border-radius: 20px;
}

.video__play {
  position: absolute;
  top: 150px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 199;
}

.dark-theme .video__theme {
  background: #292735;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.dark-theme .video__theme h1 {
  color: #EEEFF2;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.dark-theme .video__theme p {
  color: #6E757C;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.video__img {
  position: relative;
  margin-top: -20px;
}

.video__btn {
  display: block;
  width: 241px;
  text-align: center;
  position: relative;
  margin: 45px auto;
  color: #ffffff;
  padding: 15px 10px;
  background: #FF6E30;
  border-radius: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.video__btn:hover {
  opacity: 0.7;
}

.quote-1 {
  width: 60px;
  position: absolute;
  top: 230px;
  left: 130px;
}

.quote-2 {
  top: 140px;
  right: 180px;
  width: 60px;
  margin-left: auto;
  position: absolute;
}

.heart {
  width: 60px;
  top: 100px;
  position: absolute;
}

.ic-yellow {
  width: 60px;
  -webkit-transform: translate(220px, -200px);
          transform: translate(220px, -200px);
  position: absolute;
}

.ic-red {
  width: 60px;
  -webkit-transform: translate(740px, -200px);
          transform: translate(740px, -200px);
  position: absolute;
}

.heart-2 {
  width: 60px;
  top: 435px;
  right: 42px;
  position: absolute;
}

@media (max-width: 1249px) {
  .video__img {
    margin: 0 auto;
    display: block;
    width: 93%;
  }
  .video {
    padding: 185px 10px 0 10px;
  }
  .video p::after {
    right: 10px;
  }
  .video__btn::before {
    left: 390px;
  }
  .video__play {
    width: inherit;
    position: absolute;
    top: 160px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 199;
  }
  .video__img-wrapper {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media (max-width: 1030px) {
  .video__btn::before {
    display: none;
  }
  .ic-red {
    -webkit-transform: translate(520px, -203px);
            transform: translate(520px, -203px);
  }
}

@media (max-width: 955px) {
  .video h1 {
    padding: 0 10px;
  }
  .quote-2 {
    top: 100px;
    right: 56px;
  }
}

@media (max-width: 866px) {
  .video__play {
    top: 112px;
    width: 90px;
  }
  .quote-1 {
    left: 50px;
  }
}

@media (max-width: 770px) {
  .video h1 {
    padding: 0;
  }
  .video::before {
    display: none;
  }
  .video::after {
    display: none;
  }
}

@media (max-width: 440px) {
  .video {
    max-width: 1120px;
    margin: 0 auto;
    padding: 145px 0px 0px 0px;
  }
  .video::before {
    display: none;
  }
  .video::after {
    display: none;
  }
  .video h1 {
    padding: 0px 31px;
    font-size: 32px;
    line-height: 40px;
  }
  .video h1::before {
    display: none;
  }
  .video p {
    padding: 0 63px;
    font-size: 16px;
    line-height: 24px;
  }
  .video p::after {
    right: 28px;
    top: -130px;
    width: 42px;
    height: 31px;
    background: url("../img/icons/quote-2-mob.svg");
  }
  .video p::before {
    top: -18px;
    left: 7px;
    width: 38px;
    height: 28px;
    background: url("../img/icons/quote-mob.svg");
  }
  .ic-red {
    display: none;
  }
  .video__img {
    width: 100%;
  }
  .video__btn {
    width: 292px;
    margin: 45px auto 16px auto;
  }
  .video__btn::before {
    left: 0;
  }
  .video__btn::after {
    top: -289px;
    right: 223px;
  }
  .video__play {
    top: 200px;
  }
  .heart {
    top: 95px;
    left: 20px;
    width: 35px;
  }
  .heart img {
    width: 35px;
  }
  .quote-1 {
    top: 200px;
    left: 3px;
  }
  .quote-1 img {
    width: 60px;
  }
  .quote-2 img {
    width: 60px;
  }
  .ic-yellow {
    -webkit-transform: translate(249px, -150px);
            transform: translate(249px, -150px);
  }
  .ic-yellow img {
    width: 50px;
  }
}
/*# sourceMappingURL=video.css.map */